<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/admin/login.css" />
  <title>Admin Login</title>

</head>

<body>
  <div class="login-container">
    <div class="admin-header">
      <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png"
        alt="Instagram Admin" class="admin-logo">
      <h1 class="admin-title">Admin Portal</h1>
      <p class="admin-subtitle">Sign in to access the dashboard</p>
      <small style="color: red;">{{message}}</small>
    </div>
    <form id="adminLoginForm" method="post" action="/admin/login">
      <div class="form-group">
        <label for="adminEmail">Admin Email</label>
        <input type="email" id="email" name="email" placeholder="admin@example.com" required>
        <small id="emailError" style="color: red;display: none;"></small>
      </div>

      <div class="form-group">
        <label for="adminPassword">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <small id="passwordError" style="color: red;display: none;"></small>
      </div>

      <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
    <div class="signup">
      "Go back?"<a href='/'>Click</a>"
    </div>
  </div>


  <!-- login validation -->
  <script src="/js/admin/loginValidation.js"></script>


</body>

</html>