<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/user/home.css">
  <title>Welcome</title>
</head>

<body>
  <div class="welcome-container">
    <img class="logo" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png"
      alt="Logo">
    <h1>Welcome, {{message}}!</h1>
    <p>We’re happy to have you here. Explore and enjoy your journey!</p>
    <a href="/user/logout" class="btn">Logout</a>
  </div>
</body>

</html>